
    header{
     height: 80px;
    }
    header nav .menu{
        margin: 0;
    }
    .logo{
        
        margin: 24px 100px;
        margin-right: 0;
    }
    .logo img {
        width: 34px;
        height: 34px;
        margin: 0;
    }
    header nav .menu ul {
        display: flex;
        justify-content: space-between;
        position: unset;
        overflow: hidden;
        background-color: unset;
        height: unset;
        
        
    }
    header nav .menu  ul li {
        margin: 26px 48px;
       
    } 
    header nav .menu ul li:first-child{
        margin-right: 48px;
        margin-top: 26px;
    }
    header nav .menu ul li:last-child{
        margin-right: 100px;
    }
    header nav .menu  ul li:hover {
        font-family: $fontmono;
        text-decoration: line-through;
        color: rgba(0,243,187,1);
        background-color: unset;
        
    } 
    header nav .menu  ul li a:active {
        font-family: $fontmono;
        text-decoration:line-through;
        color:rgba(6,10,36,0.56);
    }
    header nav .menu ul li a {
        padding: unset;
        font-family: $fontmono;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        
    }
    header nav .menu  ul li a:hover {
        color: unset;
    } 
    header nav .menu input {
        display: none;
    }
    header nav .menu span {
        display: none;
    }
    