@media screen and (min-width: 768px){
    .episodes{
        width: 100%;
        margin-top: 5px;
        transform: skewy(-7deg);
        transform-origin: top right;
    }
    .episodes .title{
        margin-top: 186px;
        margin-left: 200px;
        transform: skewy(7deg);
        transform-origin: top right;
    }
    .episodes .podcasts{
        transform: skewy(7deg);
        transform-origin: top right;
        display: grid;
        grid-template-columns: 28px 1fr 1fr 28px;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 72px;          
   }
   
   .episodes .podcasts iframe{
       width: 100%;
       padding: unset;
       height: 232px;
   }
    .podcasts IFRAME:first-child{
       grid-column: 2;
       grid-row: 1;     
   }
   .podcasts iframe:nth-of-type(2){
    grid-column: 3 ;
    grid-row: 1;
    }
    .podcasts iframe:nth-of-type(3){
        grid-column: 2;
        grid-row: 2;
    }
    .podcasts iframe:nth-of-type(4){
    grid-column: 3 ;
    grid-row: 2;
    }
}