.episodes{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewy(-4deg);
    transform-origin: top right;
    width: 100%;
    margin-top: 16px;
    padding-bottom: 150px ;
    border-top:1px solid rgba(255,255,255,.5);   
    
}

.episodes .title {
    margin-top: 64px;
    margin-left: 16px;
    font-family: $fontsans;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    z-index: 3;
    transform: skewy(4deg);
    transform-origin: top right;   
}
.podcasts{
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    transform: skewy(4deg);
    transform-origin: top right;
}
.podcasts iframe{
    width: 100%;
    padding: 11px 11px;
    height: 232px;
    border-radius: 5%;
}
