@media screen and (min-width: 768px){
    .guests{
        margin-top: 2%;
    }
    .guests h1{
        font-size: 48px;
        margin-left: 15%;
    }
    .guests .gallery{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
    }
 
}
    