.title{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 29px;
    margin-right: 16px;
    
}
.title h1{
    font-family: $fontsans;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
.cross{
    text-decoration:line-through;
}

.title p {
    margin-top: 16px;
    margin-right: 16px;
    font-family: $fontmono;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    padding: 0;
}
.title .button{
    background: #00F3BB;
    
    padding: 13px 96px;
    margin-top: 36px;
    text-decoration: none;
    font-family: $fontmono;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
        
}

