@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400&family=IBM+Plex+Sans:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
$fontmono: 'IBM Plex Mono', monospace;
$fontsans: 'IBM Plex Sans', sans-serif;
@import 'burgermenu';
@import 'desktopmenu';
@import 'titlemobile';
@import 'titledesktop';
@import 'episodesmobile';
@import 'episodesdesktop';
@import 'frommobile';
@import 'guestmobile';
@import 'themesmobile';
@import 'newsmobile';
@import 'footermobile';
@import 'fromdesktop';
@import 'guestdesktop';
@import 'themesdesktop';
@import 'newsdesktop';
@import 'footerdesktop';

